.option__container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 40px;
    column-gap: 15px;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.option__container:hover {
    background: var(--twitter-extra-extra-light-grey);
}

.option__icon-container>* {
    width: 23px;
    height: 23px;
    color: var(--twitter-light-grey);
}