.hoverCard__container {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    opacity: 0;
    box-shadow: 0px 0.5px 1px 1px rgb(0, 0, 0, 0.1);
}

.hoverCard__profile {
    top: 80px;
    left: 15px;
}

.hoverCard__top {
    top: 40px;
    left: -10px;
}