@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.card {
    display: grid;
    grid-template-rows: 30px auto 40px;
    grid-template-columns: 70px 300px;
    row-gap: 3px;
    border: 1px solid lightgrey;
    padding: 15px 15px 0px 15px;
    width: 500px;
    position: relative;
}

.card:hover {
    background: var(--twitter-extra-extra-light-grey);
}

.card__body {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 13px;
}

.card__header {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-items: center;
    width: 100%;
    position: relative;
}

.card__header-circle {
    width: 2px;
    align-self: center;
}

.card__header-date:hover {
    text-decoration: underline;
}

.card__header-identity {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 3px;
}

.card__header-identity:hover > .card__header-name {
    text-decoration: underline;
}

.card__header-info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 3px;
}

.card__header-name {
    font-weight: bold;
    font-size: 14px;
    color: var(--twitter-black);
}

.card__header-text {
    color: var(--twitter-dark-grey);
    font-size: 13px;
}

.card__header-verified {
    color: var(--twitter-blue);
    align-self: center;
}

.card__profile {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 50px;
    border-radius: 50px;
    border: 1px solid var(--twitter-dark-grey);
}

.card__profile:hover {
    opacity: 0.8;
    box-shadow: inset 0px 0px 5px 5px black;
}