.unfinishedFeatureToaster {
    color: white !important;
    background-color: red !important;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    min-height: min-content !important;
    width: min-content;
    overflow: visible;
    white-space: nowrap;
}