.successToaster {
    background-color: var(--twitter-blue) !important;
}

.toaster {
    color: white !important;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    min-height: min-content !important;
}

.unfinishedFeatureToaster {
    background-color: red !important;
    overflow: visible;
    white-space: nowrap;
}