:root {
  --twitter-blue: rgb(29, 161, 242);
  --twitter-black: rgb(20, 23, 26);
  --twitter-dark-grey: rgb(101, 119, 134);
  --twitter-light-grey: rgb(170, 184, 194);
  --twitter-extra-light-grey: rgb(224, 232, 237);
  --twitter-extra-extra-light-grey: rgb(245, 248, 250);
}

.App {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.bio-link {
  color: var(--twitter-blue);
}

.bio-link:hover {
  text-decoration: underline;
}

.app__small-text-hover-card {
  background: rgb(0,0,0,0.6);
  color: white;
  position: absolute;
  font-size: 11px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  white-space: nowrap;
  padding: 2px;
  text-align: center;
}
